<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.einsteinlimeira.beyond.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.EventosActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.EventoDetalheActivity"
            android:label="@string/title_activity_evento_detalhe"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.TesteHttpActivity"
            android:label="@string/title_activity_teste_http"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.ConfiguracaoActivity"
            android:label="@string/title_activity_configuracao" >
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.InicialActivity"
            android:label="@string/title_activity_inicial"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.CasasActivity"
            android:label="@string/title_activity_casas"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.PrincipalActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.einsteinlimeira.beyond.mobile.CidadesActivity"
            android:label="@string/title_activity_cidade"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
    </application>

</manifest>