# classes compiladas
*.class

# pacotes
*.jar
*.war
*.ear

# diretórios de beyond-web
/beyond-web/dist/
/beyond-web/build/
/beyond-web/build/nbproject/private/

# diretórios de beyond-mobile
/beyond-mobile/bin/
/beyond-mobile/gen/

# diretórios de beyond-model
/beyond-model/dist/
/beyond-model/build/
/beyond-model/nbproject/private/

# diretórios de beyond-protocol
/beyond-protocol/dist/
/beyond-protocol/build/
/beyond-protocol/nbproject/private/

# diretórios de beyond-services
/beyond-services/dist/
/beyond-services/build/
/beyond-services/nbproject/private/

# diretórios de beyond-services-impl
/beyond-services-impl/dist/
/beyond-services-impl/build/
/beyond-services-impl/nbproject/private/

# diretórios de beyond-dao
/beyond-dao/dist/
/beyond-dao/build/
/beyond-dao/nbproject/private/

# diretórios de beyond-dao-impl
/beyond-dao-impl/dist/
/beyond-dao-impl/build/
/beyond-dao-impl/nbproject/private/
