root { 
  display: block;
}

.center-horizontal{
  text-align: center;
  display: block;
}

.right{
  text-align: right;
  display: block;
}

.panelGridLoginCampos tr{
  border: none;
}

.panelGridLoginCampos td{
  border: none;
}

/* para <p:messages não exibir o ícone */
.ui-messages-error-icon{
  display: none;
}

.negrito{
  font-weight: bold;
}

.sublinhado{
  text-decoration: underline;
}

.panelCru{
  background: transparent;
  border: none;
}

.panelDetalhesEventoColumn2{
  width: 100%;
}

.detalhesEventoTitulo{
  font-size: 250%;
  font-weight: bold;
}

.detalhesEventoBanda, .detalhesEventoCasa{
  font-size: 150%;
  font-weight: bold;
}

.panelDetalhesEventoRowPar{
  background-color: #efefef;
}

.panelGridSemBordas td, .panelGridSemBordas tr{
  border: none !important;
}

.panelGridDetalhesEventoEndereco tr{
  background: transparent;
}

.panelGridDetalhesEventoEndereco td{
  padding: 0px !important;
}

.panelGridIntegrantes td{
  padding: 1px !important;
}

.panelGridIntegrantes tr{
  background: transparent;
  text-align: left;
  color: white;
}